<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.natably">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-feature android:name="android.hardware.location.gps" />-->
    <!--<uses-feature android:name="android.hardware.location.network" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!--map key-->
        <!--google map key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvn6N_9AZXiYeZTAYgsRnGHPvYW5g9ar0"/>
        <!--my key : AIzaSyDP_r89ZyMMF82GhqnuVhFi6ot6FJjV24A-->

    </application>

</manifest>
